* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  padding: 10px;
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
}

aside {
  width: 35%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dedede;
}

button {
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #111;
  font-weight: bold;
}

button:not(last-child) {
  margin-bottom: 30px;
}

main {
  flex: 1;
  padding: 10px 20px;
}

h2 {
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
}

h3 {
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0;
}

.person {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
